<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "//mybatis.org//DTD mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.codingcafe.mapper.TicketMapper">

<select id="getOptList" resultType="com.codingcafe.domain.TicketOptVO">
SELECT * FROM T_TICKET_TYPE WHERE TICKET_TYPE = #{type} 
</select>


</mapper>